sudo: required
language: python
services:
  - docker
env:
  - TOXENV=py36
  - TOXENV=py37
  - TOXENV=flake8
  - TOXENV=pylint
  - TOXENV=mypy
  - TOXENV=black-only-check
before_install:
  - docker build --no-cache -t {{ cookiecutter.project_name }}-tests -f Dockerfile.tests .
script:
  - docker run --rm -t -v $PWD:/data -w /data {{ cookiecutter.project_name }}-tests -e TOX_WORK_DIR=/tmp tox -v -e $TOXENV
