[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "*"
tox = "*"
pylint = "*"
"flake8" = "*"
mypy = "*"
coverage = "*"

[requires]
python_version = "{{ cookiecutter.python_version }}"
